.main-header {
    border-bottom: 3px solid var(--primary-bg-color);
}

.main-header-center .title {
    color: #7987a1;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.header-icon-svgs-prev {
    margin-bottom: -15px;
    position: relative;
}

a.header-icon-svgs-prev.active svg {
    color: var(--primary-bg-color);
}

a.header-icon-svgs-prev svg {
    height: 45px;
    width: 45px;
    color: #7b8191;
}

a.header-icon-svgs-prev.active::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    border-color: transparent transparent var(--primary-bg-color) transparent;
    position: absolute;
    left: calc(50% - 5px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

a.header-icon-svgs-prev.mobile.active::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    border-color: transparent transparent var(--primary-bg-color) transparent;
    position: absolute;
    left: calc(50% - 8px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

.iframe-preview,
.defaultInfo{
    position: absolute;
    border: none;
    width: 100%;
    height: calc(100% - 57px);
}

.iframe-preview--mobile {
    width: 415px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.swichermainleft {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.swichermainleft .con-tittle {
    font-size: 14px;
    padding-bottom: 0;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #e9ebfa;
    background: #eaf3f147;
    border-top: 1px solid #e9ebfa;
    margin: 0 !important;
    margin-bottom: 10px !important;
    text-transform: uppercase;
    padding: 10px;
}

.swichermainleft .skin-body {
    padding: 0 10px;
}


.sidebar .nav.panel-tabs {
    padding: 15px 10px !important;
}

#areaPengaturan {
    display: none;
}

#areaPengaturan.show {
    display: block;
}

#areaPengaturan .swichermainleft h4 {
    font-size: 14px;
    padding-bottom: 0;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e9ebfa;
    background: #eaf3f147;
    border-top: 1px solid #e9ebfa;
    margin: 10px 0 !important;
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}
