.main-header {
    border-bottom: 3px solid var(--primary-bg-color);
}

.main-header-center .title {
    color: #7987a1;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.header-icon-svgs-prev {
    margin-bottom: -15px;
    position: relative;
}

a.header-icon-svgs-prev.active svg {
    color: var(--primary-bg-color);
}

a.header-icon-svgs-prev svg {
    height: 45px;
    width: 45px;
    color: #7b8191;
}

a.header-icon-svgs-prev.active::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    border-color: transparent transparent var(--primary-bg-color) transparent;
    position: absolute;
    left: calc(50% - 5px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

a.header-icon-svgs-prev.mobile.active::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    border-color: transparent transparent var(--primary-bg-color) transparent;
    position: absolute;
    left: calc(50% - 8px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

.iframe-preview,
.defaultInfo{
    position: absolute;
    border: none;
    width: 100%;
    height: calc(100% - 57px);
}

.iframe-preview--mobile {
    width: 415px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body.dark-theme .iframe-preview--mobile {
    border-left: 2px solid #7c8090;
    border-right: 2px solid #7c8090;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.swichermainleft {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.swichermainleft .con-tittle {
    font-size: 14px;
    padding-bottom: 0;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #e9ebfa;
    background: #eaf3f147;
    border-top: 1px solid #e9ebfa;
    margin: 0 !important;
    margin-bottom: 10px !important;
    text-transform: uppercase;
    padding: 10px;
}

.dark-theme .swichermainleft .con-tittle {
    border-bottom: 1px solid #404353;
    background: #383d52;
    border-top: 1px solid #404353;
}

.swichermainleft .skin-body {
    padding: 0 10px;
}


.sidebar .nav.panel-tabs {
    padding: 15px 10px !important;
}

#areaPengaturan .swichermainleft h4 {
    font-size: 14px;
    padding-bottom: 0;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e9ebfa;
    background: #eaf3f147;
    border-top: 1px solid #e9ebfa;
    margin: 10px 0 !important;
    text-transform: uppercase;
}

.dark-theme #areaPengaturan .swichermainleft h4 {
    border-bottom: 1px solid #404353;
    background: #383d52;
    border-top: 1px solid #404353;
}

.cursor-pointer {
    cursor: pointer;
}

.SelectBox .placeholder {
    background: transparent;
    color: #99a6b7;
}

.SumoSelect>.CaptionCont>span.placeholder {
    color: #99a6b7;
}

.dark-theme .SelectBox .search-txt {
    color: #e1e6f1;
    background: transparent;
}


.dark-theme .swal2-container .swal2-modal {
    background: #2a2e3f;
}

.dark-theme .swal2-container .swal2-modal .swal2-title {
    color: #fff;
}

.dark-theme .swal2-container .swal2-modal .swal2-html-container {
    color: #99a6b7;
}

.dark-theme .swal2-container .swal2-modal .swal2-icon.swal2-warning {
    color: #ffc107;
    border-color: #ffc107;
}

.dark-theme .swal2-container .swal2-modal .swal2-icon.swal2-error {
    color: #ff473d;
    border-color: #ff473d;
}

.dark-theme .swal2-container .swal2-modal .swal2-icon.swal2-info {
    color: #39bfeb;
    border-color: #39bfeb;
}

.swal2-container .swal2-modal .swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid #03c8954d;
}

.swal2-container .swal2-modal .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #03c895;
}

#toastContainer {
    z-index: 99999999;
    overflow: hidden;
}

#toastContainer .toast{
    transition: 1s;
    transform: translate(400px);
    display: block !important;
}

#toastContainer .toast.show {
    transform: translateX(0);
}

.pagination li span.page-link {
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
}

.SumoSelect-group .SumoSelect>.CaptionCont {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.SumoSelect-group .SumoSelect-group-action {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #cdd4e2;
    border-left: 0;
    display: flex;
    align-items: center;
}

.dark-theme .SumoSelect-group .SumoSelect-group-action {
    border-color: #e1e6f11a;
}

.SumoSelect-group .SumoSelect-group-action.hideshow i:first-child {
    display: block;
}

.SumoSelect-group .SumoSelect-group-action.hideshow i:last-child {
    display: none;
}

.SumoSelect-group .SumoSelect-group-action[aria-expanded="true"].hideshow i:first-child {
    display: none;
}

.SumoSelect-group .SumoSelect-group-action[aria-expanded="true"].hideshow i:last-child {
    display: block;
}

.SumoSelect-group.collase-show .SumoSelect .CaptionCont {
    border-bottom-left-radius: 0 !important;
}

.SumoSelect-group .SumoSelect-group-action:not(:last-child) {
    border-radius: 0 !important;
}

.SumoSelect-group.collase-show .SumoSelect-group-action:last-child {
    border-bottom-right-radius: 0;
}

.collapse.show table.table-bordered {
    border-top: 0 !important;
}

#modalFormUser {
    max-height: calc(100vh - 185px);
    overflow: hidden;
}

select#role:invalid {
    color: #99a6b7;
    opacity: .5;
    padding-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .81568rem;
}

select.form-control.SumoUnder[multiple] {
    height: 40px;
}

.switch_section input::file-selector-button{
    display: none;
}

.switch_section .form-control {
    border: 0;
}

.dark-theme .switch_section .main-form-group .form-control {
    padding: 0;
}

.switch_section .previewImg,
.form-sosmed-container-item .previewImg {
    position: relative;
}

.switch_section .previewImg .removePreviewImage,
.form-sosmed-container-item .previewImg .removePreviewImage {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    color: #f34343;
}

.switch_section .previewImg:hover .removePreviewImage,
.form-sosmed-container-item .previewImg:hover .removePreviewImage {
    display: flex;
}

.switch_section .previewImg img,
.form-sosmed-container-item .previewImg img {
    max-height: 200px;
    border-radius: 5px;
}

.switch_section .progress {
    margin: 0 5px;
    margin-top: -1px;
}

.switch_section .multiple-preview[data-count="2"],
.switch_section .multiple-preview[data-count="3"],
.switch_section .multiple-preview[data-count="4"],
.switch_section .multiple-preview[data-count="*"] {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.switch_section .multiple-preview[data-count="2"] .previewImg img,
.switch_section .multiple-preview[data-count="3"] .previewImg img,
.switch_section .multiple-preview[data-count="4"] .previewImg img,
.switch_section .multiple-preview[data-count="*"] .previewImg img {
    max-width: 100%;
    height: 120px;
}

.modalPrevContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.modalPrevContainer .modalPrevImage {
    position: relative;
}

.modalPrevContainer .modalPrevImage img {
    border-radius: 5px;
    width: 100%;
    height: 144px;
}

.modalPrevContainer .modalPrevImage .removePreviewImage {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    color: #f34343;
}

.modalPrevContainer .modalPrevImage:hover .removePreviewImage {
    display: flex;
}

.CodeMirror {
    text-align: start;
}

.bg-code {
    background: #1c1c1c;
}

.str-yellow {
    color: #E6DB74;
}

.panel {
    justify-content: space-between;
    background: #3a3c51;
    display: flex;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel.fullScreen-panel,
.CodeMirror.CodeMirror-fullscreen {
    border-radius: 0;
}

.panel .minimize {
    display: none;
}

.switch_section .panel,
.switch_section .panel .minimize,
.switch_section .panel .fullsceen {
    color: #eaecf3;
}

.CodeMirror {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 300px;
}

.panel.fullScreen-panel .minimize {
    display: block;
}

.panel.fullScreen-panel .fullsceen {
    display: none;
}

.CodeMirror.CodeMirror-fullscreen {
    top: 36px;
}

.colorGenerator {
    display: flex;
    align-items: center;
}

.colorGenerator p {
    margin: 0;
    padding-right: 10px;
}

.colorGenerator .clr-field input {
    background: transparent;
    border: 0;
    color: #4a4a69;
    cursor: pointer;
    max-width: 115px;
}

.colorGenerator .clr-field input:focus-visible {
    outline: none;
}

.dark-theme .colorGenerator .clr-field input {
    color: #eaecf3;
}

.colorGenerator .clr-field button {
    height: 30px;
    border-radius: 50%;
}

.form-sosmed-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    max-height: calc(100vh - 9.5rem);
    overflow: hidden;
}

.form-sosmed-container .form-sosmed-container-item {
    border: 1px solid #ededf5;
    border-radius: 5px;
    padding: 20px;
}

.dark-theme .form-sosmed-container .form-sosmed-container-item {
    border: 1px solid #484863;
}

.btn-sample {
    border: none;
    cursor: pointer;
}

.form-sosmed-container-item .clr-field,
.form-sosmed-container-item .clr-field input,
.form-sosmed-container-item .clr-field button {
    cursor: pointer;
}

.form-sosmed-container-item .clr-field button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.qris .clr-field {
    width: 100%;
    cursor: pointer;
}

.qris .clr-field button,
.qris .clr-field input {
    cursor: pointer;
}

.btn-sample {
    text-align: center;
    padding: 0.5rem 0.78rem;
    display: inline-block;
    margin-bottom: 10px;
    font-family: aller;
    font-size: 20px;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
}
