body {
    padding-right: 0 !important;
}

body.smbitClass-mobile {
    // Untuk header atas
    .page-content {
        .smartb1 #smart_banner {
            display: none;
        }

        &.apk-download {
            .smartb1 {
                height: 135px !important;
                .smartb2 {
                    top: 65px !important;
                }
                .smartb3 {
                    top: 80px;
                }

                #smart_banner {
                    position: fixed; width: 100%;
                    padding: 10px;
                    font-family: Verdana, arial, sans-serif;
                    height: inherit;
                    color: #fff;
                    background: linear-gradient(to right, #1b1b1b 0%, #1b1b1b 50%, #1b1b1b 100%);
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    max-height: 63px;

                    #close_button {
                        color:#fff;
                        text-align: center;
                        font-size: 18px;
                        line-height: 60px;
                        cursor: pointer;
                    }

                    .header-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .banner-info {
                            display: flex;
                            align-items: center;
                            .app_icon {
                                width: 43px;
                                margin-left: 10px;
                                img {
                                    max-width: 100%;
                                }
                            }

                            .app_info {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .app_title {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color:#ffd727;
                                    text-transform: uppercase;
                                }

                                .app_slogan {
                                    font-size: 11px;
                                    color:#fff;
                                    letter-spacing: 0px;
                                }
                            }
                        }

                        .download_button {

                            width: 100px;
                            overflow: visible;
                              a {

                                font-size: 12px;
                                padding: 8px;
                                border: 1px solid;
                                color: #fff;
                                background: linear-gradient(to bottom, #383636 50%, #272626 50%);
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            .smartb4 {
                margin-top: 65px !important;
            }

        }

        .content {
            .container {
                .owl-carousel {
                    img {
                        padding-top: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }

                .bank {
                    padding-left: 5px !important;
                }
            }

            .icon-sosmed {
                .deskripsi {
                    margin-top: 5px;
                    text-align: center;
                    margin-bottom: 18px;
                    color: white;
                    text-shadow: 0px 0px 10px #777777, 0px 0px 20px #777777; font-size: 15px;
                }

                .icon {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                    a {
                        img {
                            width: 100%;
                        }
                    }

                    @media (max-width: 390px) {
                        a {
                            width: calc(100% / 2 - 20px);
                        }
                    }
                }
            }

            .promosi {
                img {
                    height: 100%;
                    width: 100%;
                    padding-top: 10px;
                }
            }

            .beforeFooter {
                .tittle {
                    font-size: larger;
                    padding-top: 20px;
                    color: #ffcc00;
                    text-align: center;
                }

                .deskripsi {
                    font-size: 100%;
                    color: #d7d7d7;
                    border-image-width: 100px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    border-bottom-style: groove;
                    // text-transform: uppercase;
                }
            }
        }

    }

    #smb-mobile-popup {
        position: absolute;
        top: 0;
        z-index: 9999;

        .modal-mobile {
            background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: table;

            .modal-container-mobile {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 200px;
            }

            .body {
                display: inline-block;
                padding: 10px;

                .popup-img {
                    width: 100%;
                    height: auto;
                }
            }
            .modal-header {
                border-bottom: none;

                .btn-close {
                    font-weight: bold;
                    font-size: 25px;
                    opacity: 1;
                    color: #fff;
                    --webkit-appearance: none;
                    padding: 0;
                    cursor: pointer;
                    background: 0 0;
                    border: 0;
                }
            }
            .deskripsi {
                color: white;
                background-color: rgb(188, 156, 8);
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .list-menu-mobile {
        display: flex;
        padding-top: 10px;

        img {
            padding: 4px;
            line-height: 1.42857143;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            display: inline-block;
            max-width: 100%;
            height: auto;
        }
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 216px;
        display: block;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height .10s;

        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            background: #fff;
            list-style-type: none;
            padding: 0;
            display: none;
            -webkit-transition: height 0.5s;
            transition: height 0.10s;

            li{
                width: 100%;
                list-style: none;
                &:not(:last-child) {
                    border-bottom: 1px solid #adadad;
                }
            }
            .linkalte-item {
                display: flex;
                padding: 8px;
                color: #777777;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    background: #837f77;
                    color: #fff;
                }
            }
        }

        &:hover {
            .linkalte-body{
                display: block;
            }
        }

    }

    .btnqris {
        display: flex;
        justify-content: center;
    }

    .listNewBank {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;

        &.show {
            display: block;

            .modal-dialog {
                -webkit-transform: translate3d(0,0,0);
                -o-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: 10px;
        }

        &.fade {
            .modal-dialog {
                -webkit-transition: -webkit-transform .3s ease-out;
                -o-transition: -o-transform .3s ease-out;
                transition: transform .3s ease-out;
            }
        }

        .modal-content {
            position: relative;
            outline: 0;
            background: rgba(0,0,0,0);
            box-shadow: none;
            border: none;
        }

        .modal-body {
            position: relative;
            padding: 15px;

            .imgads {
                width: 100%;
                height: 100%;
            }
        }
        .fade {
            opacity: 0;
            -webkit-transition: opacity .15s linear;
            -o-transition: opacity .15s linear;
            transition: opacity .15s linear;

            &.show {
                opacity: 1;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            background: transparent;
            box-shadow: none;
            border: none;

            .modal-header {
                border: none;
                .close {
                    opacity: 1;
                    font-size: 25px;
                    color: #fff;
                }
            }

            .modal-body {
                .deskripsi {
                    color: white;
                    background-color: #ac11c2;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
        justify-content: center;
    }
}

.modal-backdrop {
    opacity: .9;
}

body.smbitClass-desktop {
    .section {
        .container {
            .blog-posts {
                .promosi {
                    img {
                        height: 100%;
                        width: 100%;
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 99;
        max-width: 216px;
        display: block;
        overflow: hidden;
        height: 43px;

        .linkalte-btn {
            height: 43px;
        }

        &:hover {
            height: 173px;
            -webkit-transition: height 0.6s;
            transition: height 0.6s;

            .linkalte-body {
                max-width: 190px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #4e92cd;
                padding: 4px;

                .linkalte-list {
                    background-color: #5a1686;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;


                    .linkalte-item {
                        padding: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        a {
                            color: #fff;
                            font-weight: 600;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

    }

    .bankscroll {
        .owl-wrapper {
            .owl-item {
                .bank {
                    text-align: center;
                    width: 145px !important;
                    height: 94px !important;
                    padding: 0px !important;
                    background-color: rgba(0,0,0,0) !important;
                    border: none !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                    border-radius: 0px !important;
                    margin-left: 0px;

                    img {
                        width: 145px;
                        height: 94px;

                    }

                    $listBank: "bca", "bni", "bri", "bsi", "cimb", "cimb-2", "dana", "dana-2", "danamon", "gopay", "linkaja", "mandiri", "maybank", "ovo", "panin";

                    @each $img in $listBank {
                        $i: index($listBank, $img);
                        $imgName: $img;
                        @if $img == "cimb-2" {
                            $imgName: "cimb";
                        }

                        @if $img == "dana-2" {
                            $imgName: "dana";
                        }
                        .#{$img} {
                            display: none;
                            &.online {
                                &+img {
                                    content: url('/situs/assets/dana_toto/desktop/images/bank/'+#{$imgName}+'/online.gif');
                                }
                            }
                            &.offline {
                                &+img {
                                    content: url('/situs/assets/dana_toto/desktop/images/bank/'+#{$imgName}+'/offline.gif');
                                }
                            }
                            &.trouble {
                                &+img {
                                    content: url('/situs/assets/dana_toto/desktop/images/bank/'+#{$imgName}+'/trouble.gif');
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // list image gameicon
    $listImage: 'danatoto_singapore.png', 'danatoto_hongkong.png', 'danatoto_sydney.png', 'danatoto_nevada.png', 'danatoto_cambodia.png', 'danatoto_bullseye.png', 'danatoto_magnum4d.png', 'danatoto_carolina.png', 'danatoto_totomacau.png', 'danatoto_pcso.png', 'danatoto_china.png', 'danatoto_california.png', 'danatoto_florida.png', 'danatoto_newyork.png', 'danatoto_oregon.png', 'danatoto_taiwan.png', 'danatoto_sicboball.png', 'danatoto_sicbodice.png', 'danatoto_12d.png', 'danatoto_dice6.png', 'danatoto_24d.png', 'danatoto_24dspin.png', 'danatoto_roulette.png',  'danatoto_baccarat.png', 'danatoto_pokerdice.png', 'danatoto_suwit.png', 'danatoto_redandwhite.png', 'danatoto_dragontiger.png', 'danatoto_oglok.png', 'danatoto_idn4stand.png', 'danatoto_roulette2.png', 'danatoto_headandtail.png', 'danatoto_monopoly.png', 'danatoto_5dball.png', 'danatoto_gongball.png', 'danatoto_billiard.png', 'danatoto_3dshio.png', 'danatoto_raceball.png', 'danatoto_fantan.png', 'danatoto_niuniu.png', 'danatoto_asianlotre.png', 'danatoto_carolinaday.png', 'danatoto_czech.png', 'danatoto_kentuckyeve.png', 'danatoto_poipetlottery.png', 'danatoto_sweden.png';

    .gameicon {
        .owl-item {
            @each $img in $listImage {
                $i: index($listImage, $img);
                &:nth-child(#{$i}) {
                    .item {
                        img {
                            content: url('/situs/assets/dana_toto/desktop/images/icongames/'+#{$img});
                        }
                    }
                }
            }
        }
    }

    .headerApk {
        padding: 10px;
        background: #1b1b1b;
        display: flex;
        align-items: center;

        .btn-close {
            margin-right: 10px;
            cursor: pointer;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .banner-info {
                display: flex;
                align-items: center;

                .app_icon {
                    margin-right: 10px;

                    img {
                        max-width: 43px;
                    }
                }

                .app_info {
                    .app_title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #ffcc00;
                        text-transform: uppercase;
                    }

                    .app_slogan {
                        font-size: 11px;
                        color: #FFF;
                        letter-spacing: 0px;
                    }
                }
            }

            .download_button {
                .btn {
                    font-size: 12px;
                    padding: 8px 8px;
                    border: 1px solid;
                    color: #fff;
                    background: linear-gradient(to bottom, #383636 50%, #272626 50%);
                    border-radius: 20px;
                }
            }
        }
    }

    .sidebar-button {
        padding: 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 5px;

        .btn {
            width: 100%;
        }

        .btn-custom {
            background: #1cffff;
            background-image: -webkit-linear-gradient(top, #1cffff 0%, #088dc4 100%);
            background-image: linear-gradient(to bottom, #1cffff 0%, #088dc4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cffff', endColorstr='#088dc4', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            background-repeat: repeat-x;
            color: #000000;
            border-width: 0;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            font-weight: 600;
            padding: 8px 12px;
            letter-spacing: 2px;
            font-weight: bolder;

            &:hover {
                color: #1cffff;
                background: #6c1a78;
                background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
            }

            &.btn-primary {
                background: #38cab3;
                background-image: -webkit-linear-gradient(top, #38cab3 0%, #157c6d 100%);
                background-image: linear-gradient(to bottom, #38cab3 0%, #157c6d 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38cab3', endColorstr='#157c6d', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-secondary {
                background: #f74f75;
                background-image: -webkit-linear-gradient(top, #f74f75 0%, #aa314d 100%);
                background-image: linear-gradient(to bottom, #f74f75 0%, #aa314d 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f74f75', endColorstr='#aa314d', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-success {
                background: #159b85;
                background-image: -webkit-linear-gradient(top, #159b85 0%, #0b5448 100%);
                background-image: linear-gradient(to bottom, #159b85 0%, #0b5448 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#159b85', endColorstr='#0b5448', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-info {
                background: #1cffff;
                background-image: -webkit-linear-gradient(top, #1cffff 0%, #088dc4 100%);
                background-image: linear-gradient(to bottom, #1cffff 0%, #088dc4 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cffff', endColorstr='#088dc4', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-warning {
                background: #f6c06f;
                background-image: -webkit-linear-gradient(top, #fffcdd 0%, #c28f43 100%);
                background-image: linear-gradient(to bottom, #fffcdd 0%, #c28f43 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#c28f43', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-danger {
                background: #f34343;
                background-image: -webkit-linear-gradient(top, #f34343 0%, #c43535 100%);
                background-image: linear-gradient(to bottom, #f34343 0%, #c43535 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f34343', endColorstr='#c43535', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }

            &.btn-light {
                background: #f9f9fb;
                background-image: -webkit-linear-gradient(top, #f9f9fb 0%, #bcbcbf 100%);
                background-image: linear-gradient(to bottom, #f9f9fb 0%, #bcbcbf 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9fb', endColorstr='#bcbcbf', GradientType=0);

                &:hover {
                    background: #6c1a78;
                    background-image: -webkit-linear-gradient(top, #6c1a78 0%, #6c1a78 100%);
                    background-image: linear-gradient(to bottom, #6c1a78 0%, #6c1a78 100%);
                }
            }
        }
    }

    .icon-sosmed {
        margin-top: 10px;
        text-align: center;

        .icon-container {
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .icon-item {
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .promosi {
        margin-top: 5px;
        a {
            img {
                width: 100%;
                height: 100%;
                max-height: 120px;
            }
        }
    }

    footer {
        &#footer {
            border-top: 0;

            .before-footer {
                h2 {
                    margin: 20px 0;
                    text-shadow: 0px 0px 5px #00ffff;
                    text-align: center;
                }
            }

            .footer-protection {
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .modal {
        .modal-body {
            .imgads {
                height: 100%;
                width: 100%;
            }
        }
    }

}

.btn-primary {
    background-color: #38cab3;
    border-color: #38cab3;
    color: #fff;
}

.btn-secondary {
    background-color: #f74f75;
    border-color: #f5567b;
    color: #fff;
}

.btn-success {
    background-color: #016a59;
    border-color: #289986;
    color: #fff;
}

.btn-info {
    background-color: #4ec2f0;
    border-color: #6cc1e2;
    color: #fff;
}

.btn-warning {
    background-color: #ffbd5a;
    border-color: #f6c06f;
    color: #fff;
}

.btn-danger {
    background-color: #f34343;
    border-color: #f35959;
    color: #fff!important;
}

.btn-light {
    background-color: #f9f9fb;
    border-color: #e9e9ff82;
    color: #323251;
}

.text-uppercase {
    text-transform: uppercase;
}

@media screen and (max-width: 290px) {
    body.smbitClass-mobile {
        .page-content {
            .content {
                .container {
                    .bank {
                        display: inline-flex;
                        align-items: center;
                        img:first-child {
                            width: 10px !important;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100vh;
        margin: auto auto;
    }

    body {
        background-image: url('/situs/assets/dana_toto/desktop/images/danatoto_background_default.jpg') !important;
        background-attachment: fixed !important;
    }
}
