body {
    padding-right: 0 !important;
}

body.smbitClass-mobile {
    // Untuk header atas
    .page-content {
        .smartb1 #smart_banner {
            display: none;
        }

        &.apk-download {
            .smartb1 {
                height: 135px !important;
                .smartb2 {
                    top: 65px !important;
                }
                .smartb3 {
                    top: 80px;
                }

                #smart_banner {
                    position: fixed; width: 100%;
                    padding: 10px;
                    font-family: Verdana, arial, sans-serif;
                    color: #fff;
                    background: #1b2632;
                    height: inherit;
                    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1) 0s;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    max-height: 63px;

                    #close_button {
                        color:#fff;
                        text-align: center;
                        font-size: 18px;
                        line-height: 60px;
                        cursor: pointer;
                    }

                    .header-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        .banner-info {
                            display: flex;
                            align-items: center;
                            .app_icon {
                                width: 43px;
                                margin-left: 10px;
                                img {
                                    max-width: 100%;
                                }
                            }

                            .app_info {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .app_title {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: #ffd700;
                                    // text-transform: uppercase;
                                }

                                .app_slogan {
                                    font-size: 11px;
                                    color: #fff;
                                    letter-spacing: 0px;
                                }
                            }
                        }

                        .download_button {
                            margin-left: 10px;
                            a {
                                font-size: 12px;
                                padding: 8px 8px;
                                // border: 1px solid;
                                font-weight: bold;
                                color: #1b2632;
                                background: linear-gradient(to bottom, #ffb000 0%, #ffa800 50%, #ff8d00 100%);
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            .smartb4 {
                margin-top: 65px !important;
            }

        }

        .content {
            .container {
                .owl-carousel {
                    img {
                        padding-top: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }

                .bank {
                    padding-left: 5px !important;
                }
            }

            .icon-sosmed {
                .deskripsi {
                    margin-top: 5px;
                    text-align: center;
                    margin-bottom: 18px;
                    color: white;
                    text-shadow: 0px 0px 10px #777777, 0px 0px 20px #777777; font-size: 15px;
                }

                .icon {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                }
            }

            .promosi {
                img {
                    height: 100%;
                    width: 100%;
                    padding-top: 10px;
                }
            }

            .beforeFooter {
                .tittle {
                    font-size: 100%;
                    padding-top: 20px;
                    color: #ffcc00;
                    text-align: center;
                }

                .deskripsi {
                    font-size: 100%;
                    color: #d7d7d7;
                    border-image-width: 100px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    border-bottom-style: groove;
                    text-transform: uppercase;
                }
            }
        }

    }

    #smb-mobile-popup {
        position: absolute;
        top: 0;
        z-index: 9999;

        .modal-mobile {
            background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: table;

            .modal-container-mobile {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 200px;
            }

            .body {
                display: inline-block;
                padding: 10px;

                .popup-img {
                    width: 100%;
                    height: auto;
                }
            }
            .modal-header {
                border-bottom: none;

                .btn-close {
                    font-weight: bold;
                    font-size: 25px;
                    opacity: 1;
                    color: #fff;
                    --webkit-appearance: none;
                    padding: 0;
                    cursor: pointer;
                    background: 0 0;
                    border: 0;
                }
            }
            .deskripsi {
                color: white;
                background: linear-gradient(to bottom, #ffb000 0%, #ffa800 50%, #ff8d00 100%);
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 216px;
        display: block;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height .10s;

        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            background: #fff;
            list-style-type: none;
            padding: 0;
            display: none;
            -webkit-transition: height 0.5s;
            transition: height 0.10s;

            li{
                width: 100%;
                list-style: none;
                &:not(:last-child) {
                    border-bottom: 1px solid #adadad;
                }
            }
            .linkalte-item {
                display: flex;
                padding: 8px;
                color: #777777;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    background: #837f77;
                    color: #fff;
                }
            }
        }

        &:hover {
            .linkalte-body{
                display: block;
            }
        }

    }

    .btnqris {
        display: flex;
        justify-content: center;
    }

    .listNewBank {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;

        &.show {
            display: block;

            .modal-dialog {
                -webkit-transform: translate3d(0,0,0);
                -o-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: 10px;
        }

        &.fade {
            .modal-dialog {
                -webkit-transition: -webkit-transform .3s ease-out;
                -o-transition: -o-transform .3s ease-out;
                transition: transform .3s ease-out;
            }
        }

        .modal-content {
            position: relative;
            outline: 0;
            background: rgba(0,0,0,0);
            box-shadow: none;
            border: none;
        }

        .modal-body {
            position: relative;
            padding: 15px;

            .imgads {
                width: 100%;
                height: 100%;
            }
        }
        .fade {
            opacity: 0;
            -webkit-transition: opacity .15s linear;
            -o-transition: opacity .15s linear;
            transition: opacity .15s linear;

            &.show {
                opacity: 1;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            background: transparent;
            box-shadow: none;
            border: none;

            .modal-header {
                border: none;
                .close {
                    opacity: 1;
                    font-size: 25px;
                    color: #fff;
                }
            }

            .modal-body {
                .deskripsi {
                    color: white;
                    background: linear-gradient(to bottom, #ffb000 0%, #ffa800 50%, #ff8d00 100%);
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
        justify-content: center;
    }
}

.modal-backdrop {
    opacity: .9;
}

body.smbitClass-desktop {
    background-image: url('/situs/assets/home_togel/desktop/images/hometogel_background_default.jpg');
    background-attachment: fixed;

    .navbar-fixed-top {
        background: #0b0d0b url('https://cdn.areabermain.club/slider/hometogel/headerlogo.jpg') top center !important;
        max-width: 1170px;
        margin: auto !important;
    }

    .breadcrumbs {
        padding: 30px 0;
    }

    .btn.btn-theme.login {
        margin-right: -26px;
        box-shadow: inset 0px 0px 0px 1px rgb(255 191 0), inset 0px 2px 0px 0px rgb(255 170 0), inset 0px 0px 0px 2px rgb(255 189 0), 3px 3px 3px 1px rgb(0 0 0 / 20%);
    border: 1px solid #c08716 !important;
    background-repeat: repeat-x !important;
    color: #1b2632 !important;
    border-width: 0 !important;
    border-radius: 15px 2px 15px 5px !important;
    letter-spacing: 2px !important;
    font-weight: bolder !important;
    text-shadow: 0px 1px 9px rgb(0 0 0 / 50%);
    }

    button.btn-theme, .btn.btn-theme {
        border-radius: 15px 2px 15px 5px !important;
    }
    
    img.btn-img {
        position: relative;
        border-radius: 5px 15px 5px 15px;
        box-shadow: 0px 3px rgb(255 133 0 / 70%);
        top: 5px;
        transition: .2s;
    }

    .section {
        .container {
            .blog-posts {
                .promosi {
                    img {
                        height: 100%;
                        width: 100%;
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .tickercontainer .masking{
        margin-top: 5px;
    }
    element.style {
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 216px;
        display: block;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height .10s;

        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            background: rgba(0, 0, 0, 0.7);
            list-style-type: none;
            padding: 0;
            display: none;
            -webkit-transition: height 0.5s;
            transition: height 0.10s;

            &:hover {
            background: rgba(0, 40, 65, 0.5);
            }

            li{
                width: 100%;
                // &:not(:last-child) {
                //     border-bottom: 1px solid #adadad;
                // }
            }
            .linkalte-item {
                display: flex;
                justify-content: center;
                padding: 8px;
                color: #777777;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    // background: rgba(0, 40, 65, 0.5);
                    color: #ffcc00 ;
                }
            }
        }

        &:hover {
            .linkalte-body{
                display: block;
            }
        }

    }

    .bankscroll {
        .owl-wrapper {
            .owl-item {
                .bank {
                    text-align: center;
                    width: 145px !important;
                    height: 80px !important;
                    padding: 0px !important;
                    background-color: rgba(0,0,0,0) !important;
                    border: none !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                    border-radius: 0px !important;
                    margin-left: 0px;

                    img {
                        width: 145px;
                        height: 80px;
                    }

                    .bca {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_bca.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_bca.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_bca.gif');
                            }
                        }
                    }

                    .bni {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_bni.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_bni.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_bni.gif');
                            }
                        }
                    }
                    .bri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_bri.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_bri.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_bri.gif');
                            }
                        }
                    }
                    .bsi {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_bsi.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_bsi.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_bsi.gif');
                            }
                        }
                    }
                    .cimb,
                    .cimb-2 {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_cimb.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_cimb.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_cimb.gif');
                            }
                        }
                    }
                    .dana,
                    .dana-2 {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_dana.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_dana.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_dana.gif');
                            }
                        }
                    }
                    .danamon {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_danamon.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_danamon.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_danamon.gif');
                            }
                        }
                    }
                    .gopay {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_gopay.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_gopay.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_gopay.gif');
                            }
                        }
                    }
                    .linkaja {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_linkaja.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_linkaja.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_linkaja.gif');
                            }
                        }
                    }
                    .mandiri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_mandiri.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_mandiri.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_mandiri.gif');
                            }
                        }
                    }
                    .maybank {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_maybank.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_maybank.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_maybank.gif');
                            }
                        }
                    }
                    .ovo {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_online_ovo.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_offline_ovo.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/home_togel/desktop/images/banks/hometogel_trouble_ovo.gif');
                            }
                        }
                    }
                }
            }
        }
    }

    // list image gameicon
    $listImage: 'hometogel_singapore.jpg', 'hometogel_hongkong.jpg', 'hometogel_sydney.jpg', 'hometogel_nevada.jpg', 'hometogel_cambodia.jpg', 'hometogel_bullseye.jpg', 'hometogel_magnum4d.jpg', 'hometogel_pcso.jpg', 'hometogel_carolinaday.jpg', 'hometogel_totomacau.jpg', 'hometogel_china.jpg', 'hometogel_california.jpg', 'hometogel_florida.jpg', 'hometogel_newyork.jpg', 'hometogel_oregon.jpg', 'hometogel_taiwan.jpg', 'hometogel_sicboball.jpg', 'hometogel_sicbodice.jpg', 'hometogel_12d.jpg', 'hometogel_dice6.jpg', 'hometogel_24d.jpg', 'hometogel_roullete.jpg', 'hometogel_baccarat.jpg', 'hometogel_pokerdice.jpg', 'hometogel_suwit.jpg', 'hometogel_dragontiger.jpg', 'hometogel_oglok.jpg', 'hometogel_idn4stand.jpg', 'hometogel_roullete2.jpg', 'hometogel_redandwhite.jpg', 'hometogel_headandtail.jpg', 'hometogel_monopoly.jpg', 'hometogel_5dball.jpg', 'hometogel_gongball.jpg', 'hometogel_billiard.jpg', 'hometogel_3dshio.jpg', 'hometogel_raceball.jpg', 'hometogel_fantan.jpg', 'hometogel_niuniu.jpg', 'hometogel_pgsoft.png', 'hometogel_pragmatic.png', 'hometogel_idnslot.png', 'hometogel_microgaming.png', 'hometogel_toptrend.png', 'hometogel_habanero.png', 'hometogel_comingsoon.jpg', 'hometogel_comingsoon.jpg';

    .gameicon {
        .owl-item {
            @each $img in $listImage {
                $i: index($listImage, $img);
                &:nth-child(#{$i}) {
                    .item {
                        img {
                            content: url('/situs/assets/home_togel/desktop/images/icon_games_homepage/'+#{$img});
                        }
                    }
                }
            }
        }
    }

    .headerApk {
        padding: 10px;
        background: #1b2632;
        display: flex;
        align-items: center;

        .btn-close {
            margin-right: 10px;
            cursor: pointer;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .banner-info {
                display: flex;
                align-items: center;

                .app_icon {
                    margin-right: 10px;

                    img {
                        max-width: 43px;
                    }
                }

                .app_info {
                    .app_title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #ffcc00;
                        text-transform: uppercase;
                    }

                    .app_slogan {
                        font-size: 11px;
                        color: #FFF;
                        letter-spacing: 0px;
                    }
                }
            }

            .download_button {
                .btn {
                    font-size: 12px;
                    padding: 8px 8px;
                    border: 1px solid;
                    color: #1b2632;
                    background: linear-gradient(to bottom, #ffb000 0%, #ffa800 50%, #ff8d00);
                    border-radius: 20px;
                }
            }
        }
    }

    .sidebar-button {
        padding: 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 5px;

        .btn {
            width: 100%;
        }

        .btn-custom {
            background: #fffcdd;
            background-image: -webkit-linear-gradient(top, #fffcdd 0%, #fff250 100%);
            background-image: linear-gradient(to bottom, #fffcdd 0%, #fff250 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#fff250', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            background-repeat: repeat-x;
            color: #160958;
            border: 1px solid #f49000;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            font-weight: 600;
            padding: 8px 12px;
            letter-spacing: 2px;
            font-weight: bolder;

            &:hover {
                color: #ffffff;
                background-color: #063a70;
                background: -webkit-linear-gradient(#063a70, #063a70);
            }

            &.btn-primary {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #93ffef 0%, #38cab3 100%);
                background-image: linear-gradient(to bottom, #7ef8e6 0%, #38cab3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#38cab3', GradientType=0);
                border-color: #38cab3;

                &:hover {
                    color: #000;
                    background-color: #063a70;
                    background: -webkit-linear-gradient(#063a70, #063a70);
                }
            }

            &.btn-secondary {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #f8aebf 0%, #f74f75 100%);
                background-image: linear-gradient(to bottom, #f8aebf 0%, #f74f75 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8aebf', endColorstr='#f74f75', GradientType=0);
                border-color: #f5567b;

                &:hover {
                    color: #000;
                    background-color: #f74f75;
                    background: -webkit-linear-gradient(#f74f75, #f74f75);
                }
            }

            &.btn-success {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #00f1c9 0%, #016a59 100%);
                background-image: linear-gradient(to bottom, #00f1c9 0%, #016a59 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1c9', endColorstr='#016a59', GradientType=0);
                border-color: #289986;

                &:hover {
                    color: #000;
                    background-color: #016a59;
                    background: -webkit-linear-gradient(#016a59, #016a59);
                }
            }

            &.btn-info {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #a6e2fa 0%, #4ec2f0 100%);
                background-image: linear-gradient(to bottom, #a6e2fa 0%, #4ec2f0 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6e2fa', endColorstr='#4ec2f0', GradientType=0);
                border-color: #6cc1e2;

                &:hover {
                    color: #000;
                    background-color: #4ec2f0;
                    background: -webkit-linear-gradient(#4ec2f0, #4ec2f0);
                }
            }

            &.btn-warning {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #f8deb7 0%, #ffbd5a 100%);
                background-image: linear-gradient(to bottom, #f8deb7 0%, #ffbd5a 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8deb7', endColorstr='#ffbd5a', GradientType=0);
                border-color: #f6c06f;

                &:hover {
                    color: #000;
                    background-color: #ffbd5a;
                    background: -webkit-linear-gradient(#ffbd5a, #ffbd5a);
                }
            }

            &.btn-danger {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #fcb0b0 0%, #f34343 100%);
                background-image: linear-gradient(to bottom, #fcb0b0 0%, #f34343 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb0b0', endColorstr='#f34343', GradientType=0);
                border-color: #f35959;

                &:hover {
                    color: #000;
                    background-color: #f34343;
                    background: -webkit-linear-gradient(#f34343, #f34343);
                }
            }

            &.btn-light {
                border-radius: 15px 2px 15px 5px !important;
                background-image: -webkit-linear-gradient(top, #fffcdd 0%, #f9f9fb 100%);
                background-image: linear-gradient(to bottom, #fffcdd 0%, #f9f9fb 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#f9f9fb', GradientType=0);
                border-color: #e9e9ff82;
                color: #323251;

                &:hover {
                   color: #000;
                    background-color: #063a70;
                    background: -webkit-linear-gradient(#063a70, #063a70);
                }
            }
        }
    }

    .icon-sosmed {
        margin-top: 10px;
        text-align: center;

        .icon-container {
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .icon-item {
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .promosi {
        margin-top: 5px;
        a {
            img {
                width: 100%;
                height: 100%;
                max-height: 120px;
            }
        }
    }

    footer {
        &#footer {
            border-top: 0;

            .before-footer {
                h2 {
                    margin: 20px 0;
                    color: #ffcc00;
                    text-shadow: 0px 0px 5px rgb(255 204 0 / 80%);
                    text-align: center;
                }
                p.deskripsi {
                    font-size: 12px;
                    color: #fff;
                    text-align: -webkit-center;

                    a {
                        color: #ffcc00; 
                    }
                }

            }
            .footer-bottom{
                background-color: #0c2e4a;

            }


            .footer-protection {

                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .modal {
        .modal-body {
            .imgads {
                height: 100%;
                width: 100%;
            }
        }
    }

}

.btn-primary {
    background-color: #38cab3;
    border-color: #38cab3;
    color: #fff;
}

.btn-secondary {
    background-color: #f74f75;
    border-color: #f5567b;
    color: #fff;
}

.btn-success {
    background-color: #016a59;
    border-color: #289986;
    color: #fff;
}

.btn-info {
    background-color: #4ec2f0;
    border-color: #6cc1e2;
    color: #fff;
}

.btn-warning {
    background-color: #ffbd5a;
    border-color: #f6c06f;
    color: #fff;
}

.btn-danger {
    background-color: #f34343;
    border-color: #f35959;
    color: #fff!important;
}

.btn-light {
    background-color: #f9f9fb;
    border-color: #e9e9ff82;
    color: #323251;
}

.text-uppercase {
    text-transform: uppercase;
}

@media screen and (max-width: 415px) {
    body.smbitClass-mobile {
        .page-content {
            .content {
                .container {
                    .bank {
                        display: inline-flex;
                        align-items: center;
                        img:first-child {
                            width: 10px !important;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100vh;
        margin: auto auto;
    }
}
