body {
    padding-right: 0 !important;
}

body.smbitClass-mobile {
    // Untuk header atas
    .page-content {
        .smartb1 #smart_banner {
            display: none;
        }

        &.apk-download {
            .smartb1 {
                height: 135px !important;
                .smartb2 {
                    top: 65px !important;
                }
                .smartb3 {
                    top: 80px;
                }

                #smart_banner {
                    position: fixed; width: 100%;
                    padding: 10px;
                    font-family: Verdana, arial, sans-serif;
                    color: #ffd267;
                    background: #01232e;
                    height: inherit;
                    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1) 0s;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    max-height: 63px;

                    #close_button {
                        color:#fff;
                        text-align: center;
                        font-size: 18px;
                        line-height: 60px;
                        cursor: pointer;
                    }

                    .header-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .banner-info {
                            display: flex;
                            align-items: center;
                            .app_icon {
                                width: 43px;
                                margin-left: 10px;
                                img {
                                    max-width: 100%;
                                }
                            }

                            .app_info {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .app_title {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: #ffcc00;
                                    text-transform: uppercase;
                                }

                                .app_slogan {
                                    font-size: 11px;
                                    color: #fff;
                                    letter-spacing: 0px;
                                }
                            }
                        }

                        .download_button {

                            width: 100px;
                            overflow: visible;
                              a {

                                font-size: 12px;
                                padding: 8px;
                                // border: 1px solid;
                                color: #FFF;
                                background: -webkit-linear-gradient(top, #03b7c0 0%, #026c87 100%);
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            .smartb4 {
                margin-top: 65px !important;
            }

        }

        .content {
            .container {
                .owl-carousel {
                    img {
                        padding-top: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }

                .bank {
                    padding-left: 5px !important;
                }
            }

            .icon-sosmed {
                .deskripsi {
                    margin-top: 5px;
                    text-align: center;
                    margin-bottom: 18px;
                    color: white;
                    text-shadow: 0px 0px 10px #777777, 0px 0px 20px #777777; font-size: 15px;
                }

                .icon {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                }
            }

            .promosi {
                img {
                    height: 100%;
                    width: 100%;
                    padding-top: 10px;
                }
            }

            .beforeFooter {
                .tittle {
                    font-size: 100%;
                    padding-top: 20px;
                    color: #63a3ab;
                    text-align: center;
                }

                .deskripsi {
                    font-size: 100%;
                    color: #d7d7d7;
                    border-image-width: 100px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    border-bottom-style: groove;
                    // text-transform: uppercase;
                }
            }
        }

    }

    #smb-mobile-popup {
        position: absolute;
        top: 0;
        z-index: 9999;

        .modal-mobile {
            background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: table;

            .modal-container-mobile {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 200px;
            }

            .body {
                display: inline-block;
                padding: 10px;

                .popup-img {
                    width: 100%;
                    height: auto;
                }
            }
            .modal-header {
                border-bottom: none;

                .btn-close {
                    font-weight: bold;
                    font-size: 25px;
                    opacity: 1;
                    color: #fff;
                    --webkit-appearance: none;
                    padding: 0;
                    cursor: pointer;
                    background: 0 0;
                    border: 0;
                }
            }
            .deskripsi {
                color: white;
                background-color:#03b7c0;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 216px;
        display: block;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height .10s;

        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            background: #fff;
            list-style-type: none;
            padding: 0;
            display: none;
            -webkit-transition: height 0.5s;
            transition: height 0.10s;

            li{
                width: 100%;
                list-style: none;
                &:not(:last-child) {
                    border-bottom: 1px solid #adadad;
                }
            }
            .linkalte-item {
                display: flex;
                padding: 8px;
                color: #777777;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    background: #837f77;
                    color: #fff;
                }
            }
        }

        &:hover {
            .linkalte-body{
                display: block;
            }
        }

    }

    .btnqris {
        display: flex;
        justify-content: center;
    }

    .listNewBank {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;

        &.show {
            display: block;

            .modal-dialog {
                -webkit-transform: translate3d(0,0,0);
                -o-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: 10px;
        }

        &.fade {
            .modal-dialog {
                -webkit-transition: -webkit-transform .3s ease-out;
                -o-transition: -o-transform .3s ease-out;
                transition: transform .3s ease-out;
            }
        }

        .modal-content {
            position: relative;
            outline: 0;
            background: rgba(0,0,0,0);
            box-shadow: none;
            border: none;
        }

        .modal-body {
            position: relative;
            padding: 15px;

            .imgads {
                width: 100%;
                height: 100%;
            }
        }
        .fade {
            opacity: 0;
            -webkit-transition: opacity .15s linear;
            -o-transition: opacity .15s linear;
            transition: opacity .15s linear;

            &.show {
                opacity: 1;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            background: transparent;
            box-shadow: none;
            border: none;

            .modal-header {
                border: none;
                .close {
                    opacity: 1;
                    font-size: 25px;
                    color: #fff;
                }
            }

            .modal-body {
                .deskripsi {
                    color: white;
                    background-color: #31b4c6;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
        justify-content: center;
    }
}

.modal-backdrop {
    opacity: .9;
}

body.smbitClass-desktop {
    background-image: url('/situs/assets/togel_up/desktop/images/togelup_background_default.jpg');
    background-attachment: fixed;
    .breadcrumbs {
        padding: 30px 0;
    }

    .masking {
        display: flex;
        align-items: center;

    }

    .results {
        background: linear-gradient(to bottom, #abf863 0%, #c2dc5c 50%, #a9ffc9 100%) !important;
        border-radius: 10px 10px 10px 30px;
        .results-detail {
            border-radius: 10px;
        }
        .news-detail {
            border-radius: 10px;
        }
    }

    .btn-theme{

        background: #ffffff;
        background-image: -webkit-linear-gradient(top, #03b7c0 0%, #026c87 100%);
        box-shadow: inset 0px 0px 0px 1px rgb(185 216 94 / 21%), inset 0px 2px 0px 0px rgb(49 180 198 / 0%), inset 0px 0px 0px 2px rgb(49 139 143 / 1%), 1px 1px 3px 2px rgb(0 0 0 / 16%);
        border: 1px solid #0b324f !important;
        background-repeat: repeat-x !important;
        color: #e6e6e6 !important;
        border-width: 0 !important;
        border-radius: 10px 50px 10px 10px !important;
        letter-spacing: 2px !important;
        font-weight: bolder !important;
        text-shadow: 0px 1px 9px rgb(0 0 0 / 50%);

    }
    .btn-theme:hover {
        border-color: #b9d85e;
        background-color: #b9d85e;
        background: -webkit-linear-gradient(#b9d85e, #b9d85e);
    }

    .news-head {
        background-image: -webkit-linear-gradient(top, #03b7c0 0%, #026c87 100%) !important;
    }
    .news-body {
        background: #060b16 !important;

    }
    .masking {
        .run-text-depan {
        color: white !important;
      }
    }
    .navbar-fixed-top {
        max-width: 1170px;
        margin: auto;
        background-color: #0b0d0b;
        display: flex;
    }

    .section {
        .container {
            background-color: #060b16;
            .blog-posts {
                .promosi {
                    display: flex;
                    justify-content: space-between;
                    img {
                        height: 100%;
                        width: 100%;
                        padding-top: 10px;
                    }
                }
            }
        }

    }


    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 181;
        display: block;
        -webkit-transition: height 0.6s;
        transition: height 0.6s;


        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            clip-path: polygon(0 0, 100% 0, 100% 81%, 91% 100%, 10% 100%, 0 80%);
            background: rgb(57,86,113);
            background: linear-gradient(90deg, rgba(57,86,113,1) 0%, rgba(60,99,121,1) 75%, rgba(60,99,121,1) 100%);
            transition: height 0.5s;
            border: 0.5px solid rgb(57,86,113);
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right-width: 25px;
            border-right-color: #d4d5d6;
            padding: 0 0 10px 5px;
            margin: -1px 35px 0 15px;
            max-width: 147px;
            opacity: 0;
            .linkalte-item {
                padding: 5px 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                color :#d4d5d6;
                a {
                    color :#d4d5d6;
                    white-space: nowrap;
                    overflow: hidden;
                    &:hover {
                        font-weight: 600;
                    }
                }
            }


        }

        &:hover {
            height: auto;
            -webkit-transition: height 0.6s;
            transition: height 0.6s;

            .linkalte-body {
                opacity: 1;
            }


        }

    }

    #bank.section .container {
        background:#060b16;
        border-bottom: 2px solid #c2dc5c;
    }

    .bankscroll {
        .owl-wrapper {
            .owl-item {
                .bank {
                    text-align: center;
                    width: 168px !important;
                    height: 74px !important;
                    padding: 0px !important;
                    background-color: rgba(0,0,0,0) !important;
                    border: none !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                    border-radius: 0px !important;
                    margin-left: 0px;

                    img {
                        width: 168px;
                        height: 74px;

                    }

                    .bca {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bca/togelup_online_bca.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bca/togelup_offline_bca.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bca/togelup_trouble_bca.gif');
                            }
                        }
                    }

                    .bni {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bni/togelup_online_bni.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bni/togelup_offline_bni.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bni/togelup_trouble_bni.gif');
                            }
                        }
                    }
                    .bri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bri/togelup_online_bri.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bri/togelup_offline_bri.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bri/togelup_trouble_bri.gif');
                            }
                        }
                    }
                    .bsi {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bsi/togelup_online_bsi.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bsi/togelup_offline_bsi.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/bsi/togelup_trouble_bsi.gif');
                            }
                        }
                    }
                    .cimb,
                    .cimb-2 {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/cimb/togelup_online_cimb.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/cimb/togelup_offline_cimb.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/cimb/togelup_trouble_cimb.gif');
                            }
                        }
                    }
                    .dana,
                    .dana-2 {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/dana/togelup_online_dana.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/dana/togelup_offline_dana.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/dana/togelup_trouble_dana.gif');
                            }
                        }
                    }
                    .danamon {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/danamon/togelup_online_danamon.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/danamon/togelup_offline_danamon.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/danamon/togelup_trouble_danamon.gif');
                            }
                        }
                    }
                    .gopay {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/gopay/togelup_online_gopay.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/gopay/togelup_offline_gopay.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/gopay/togelup_trouble_gopay.gif');
                            }
                        }
                    }
                    .linkaja {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/linkaja/togelup_online_linkaja.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/linkaja/togelup_offline_linkaja.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/linkaja/togelup_trouble_linkaja.gif');
                            }
                        }
                    }
                    .mandiri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/mandiri/togelup_online_mandiri.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/mandiri/togelup_offline_mandiri.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/mandiri/togelup_trouble_mandiri.gif');
                            }
                        }
                    }
                    .maybank {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/maybank/togelup_online_maybank.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/maybank/togelup_offline_maybank.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/maybank/togelup_trouble_maybank.gif');
                            }
                        }
                    }
                    .ovo {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/ovo/togelup_online_ovo.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/ovo/togelup_offline_ovo.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/togel_up/desktop/images/banks/ovo/togelup_trouble_ovo.gif');
                            }
                        }
                    }
                }
            }
        }
    }

    // list image gameicon
    $listImage: 'togelup_singapore.png', 'togelup_hongkong.png', 'togelup_sydney.png', 'togelup_nevada.png', 'togelup_cambodia.png', 'togelup_bullseye.png', 'togelup_carolina.png', 'togelup_totomacau.png', 'togelup_china.png', 'togelup_california.png', 'togelup_florida.png', 'togelup_newyork.png', 'togelup_oregon.png', 'togelup_taiwan.png', 'togelup_sicboball.png', 'togelup_sicbodice.png', 'togelup_12d.png', 'togelup_dice6.png', 'togelup_24d.png', 'togelup_roullete.png', 'togelup_baccarat.png', 'togelup_pokerdice.png', 'togelup_suwit.png', 'togelup_dragontiger.png', 'togelup_oglok.png', 'togelup_idn4stand.png', 'togelup_roullete2.png', 'togelup_headandtail.png', 'togelup_monopoly.png', 'togelup_5dball.png', 'togelup_gongball.png', 'togelup_billiard.png', 'togelup_3dshio.png', 'togelup_raceball.png', 'togelup_fantan.png', 'togelup_niuniu.png', 'togelup_pgsoft.jpg', 'togelup_pragmaticplay.jpg', 'togelup_idnslot.jpg', 'togelup_microgaming.jpg', 'togelup_toptrend.jpg', 'togelup_habanero.jpg', 'togelup_comingsoon.png', 'togelup_comingsoon.png';

    .gameicon {
        .owl-item {
            @each $img in $listImage {
                $i: index($listImage, $img);
                &:nth-child(#{$i}) {
                    .item {
                        img {
                            content: url('/situs/assets/togel_up/desktop/images/icongames/'+#{$img});
                        }
                    }
                }
            }
        }
    }

    .headerApk {
        padding: 10px;
        background: #01232e;
        display: flex;
        align-items: center;

        .btn-close {
            margin-right: 10px;
            cursor: pointer;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;


            .banner-info {
                display: flex;
                align-items: center;

                .app_icon {
                    margin-right: 10px;

                    img {
                        max-width: 43px;
                    }
                }

                .app_info {
                    .app_title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #ffee27;
                        text-transform: uppercase;
                    }

                    .app_slogan {
                        font-size: 11px;
                        color: #FFF;
                        letter-spacing: 0px;
                    }
                }
            }

            .download_button {
                .btn {
                    font-size: 12px;
                    padding: 8px 8px;
                    border: 1px solid;
                    color: #FFF;
                    background: -webkit-linear-gradient(top, #03b7c0 0%, #026c87 100%);
                    border-radius: 20px;
                }
            }
        }
    }

    .sidebar-button {
        padding: 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 5px;

        .btn {
            width: 100%;
        }





        .btn-custom {
            background: #fffcdd;
            background-image: -webkit-linear-gradient(top, #fffcdd 0%, #fff250 100%);
            background-image: linear-gradient(to bottom, #fffcdd 0%, #fff250 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#fff250', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            background-repeat: repeat-x;
            color: #160958;

            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            font-weight: 600;
            padding: 8px 12px;
            letter-spacing: 2px;
            font-weight: bolder;

            &:hover {
                color: #ffffff;
                background-color: #063a70;
                background: -webkit-linear-gradient(#063a70, #063a70);
            }

            &.btn-primary {
                background-image: -webkit-linear-gradient(top, #79f5e2 0%, #38cab3 100%);
                background-image: linear-gradient(to bottom, #79f5e2 0%, #38cab3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#38cab3', GradientType=0);
                border-color: #38cab3;

                &:hover {
                    color: #ffffff;
                    background-color: #063a70;
                    background: -webkit-linear-gradient(#063a70, #063a70);
                }
            }

            &.btn-secondary {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #ff9eb4 0%, #f74f75 100%);
                background-image: linear-gradient(to bottom, #ff9eb4 0%, #f74f75 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#f74f75', GradientType=0);


                &:hover {

                    border-color: #b9d85e;
                    background-color: #b9d85e;
                    background: -webkit-linear-gradient(#b9d85e, #b9d85e);
                }
            }

            &.btn-success {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #05ecc6 0%, #016a59 100%);
                background-image: linear-gradient(to bottom, #05ecc6 0%, #016a59 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#016a59', GradientType=0);


                &:hover {
                    border-color: #b9d85e;
                    background-color: #b9d85e;
                    background: -webkit-linear-gradient(#b9d85e, #b9d85e);
                }
            }

            &.btn-info {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #afe7fd 0%, #4ec2f0 100%);
                background-image: linear-gradient(to bottom, #afe7fd 0%, #4ec2f0 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#4ec2f0', GradientType=0);


                &:hover {
                    border-radius: 10px 50px 10px 10px !important;
                    border-color: #b9d85e;
                    background-color: #b9d85e;
                    background: -webkit-linear-gradient(#b9d85e, #b9d85e);
                }
            }

            &.btn-warning {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #fadcaf 0%, #ffbd5a 100%);
                background-image: linear-gradient(to bottom, #fadcaf 0%, #ffbd5a 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#ffbd5a', GradientType=0);


                &:hover {
                    border-color: #b9d85e;
                    background-color: #b9d85e;
                    background: -webkit-linear-gradient(#b9d85e, #b9d85e);
                }
            }

            &.btn-danger {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #fffcdd 0%, #f34343 100%);
                background-image: linear-gradient(to bottom, #fffcdd 0%, #f34343 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#f34343', GradientType=0);


                &:hover {
                    border-color: #b9d85e;
                    background-color: #b9d85e;
                    background: -webkit-linear-gradient(#b9d85e, #b9d85e);
                }
            }

            &.btn-light {
                color: #ffffff;
                border-radius: 10px 50px 10px 10px !important;
                background-image: -webkit-linear-gradient(top, #fffcdd 0%, #f9f9fb 100%);
                background-image: linear-gradient(to bottom, #fffcdd 0%, #f9f9fb 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcdd', endColorstr='#f9f9fb', GradientType=0);
                border-color: #e9e9ff82;
                color: #323251;

                &:hover {
                    color: #ffffff;
                    background-color: #063a70;
                    background: -webkit-linear-gradient(#063a70, #063a70);
                }
            }
        }
    }

    .icon-sosmed {
        margin-top: 10px;
        text-align: center;

        .icon-container {
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .icon-item {
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }


        .promosi {
            margin-top: 5px;
            a {
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 120px;
                }
            }
        }


    footer {
        &#footer {
            border-top: 0;
            background-color: transparent;
            .footer-bottom {
                background-color: transparent;
                padding: 0;
                .container {
                    padding: 0;
                    .row {
                        margin: 0;
                        .row {
                            margin: 0;
                            background: #0b0d0b;
                            div {
                                padding: 0;
                            }
                        }
                    }

                    .copyright {
                        border-top: 1px solid #c2dc5c !important;
                        background: #01232e !important;
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                }
            }

            .footer-main {
                background-color: #060b16;
                padding: 5px 15px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .footer-info {
                    text-align: center;
                    border-image-width: 100px;
                    padding-bottom: 10px;
                    text-align: center;

                    .footer-info-title {

                        color: #63a3ab;
                        margin-top: 10px;
                    }

                    .footer-info-deskripsi {
                        color: #ffffff;
                        font-size: 12px;

                        a {
                            font-weight: bold;
                            color: #63a3ab;
                            &:hover {
                                color : #b1b1b1;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .footer-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin: 10px 0;
                    row-gap: 15px;
                    .footer-sosmed {
                        display: flex;
                        .item {
                            position: relative;
                            max-width: 180px;
                            img {
                                transform: scale(.9);
                            }
                            span {
                                position: absolute;
                                z-index: 2;
                                color: white;
                                text-transform: uppercase;
                                font-weight: bold;
                                left: 0;
                                display: flex;
                                top: -1px;
                                height: 100%;
                                width: 100%;
                                justify-content: center;
                                margin-left: 27px;
                                align-items: center;
                            }

                            &:hover {
                                span {
                                    text-shadow: 0px 0px 5px #00e6d4cc;
                                    color: #55e3ff;
                                }
                            }
                        }
                    }

                    .footer-link-default {
                        display: flex;
                        column-gap: 5px;
                        a {
                            line-height: 11px;
                            display: block;
                            background: #161e28;
                            border-radius: 10px;
                            color: #fff;
                            padding: 4px 16px;
                            text-transform: uppercase;
                            text-decoration: none;
                            border: 1px solid #fff;
                            border-width: 1px 0;

                            &.active,
                            &:hover {
                                border-color: #55e3ff;
                                color: #55e3ff;
                            }

                            &:hover {
                                box-shadow: 0px 0px 5px rgb(0 230 212 / 80%);
                            }
                        }
                    }
                }
            }
        }
    }


    .modal {
        .modal-body {
            .imgads {
                height: 100%;
                width: 100%;
            }
        }
    }

}

.btn-primary {
    background-color: #38cab3;
    border-color: #38cab3;
    color: #fff;
}

.btn-secondary {
    background-color: #f74f75;
    border-color: #f5567b;
    color: #fff;
}

.btn-success {
    background-color: #016a59;
    border-color: #289986;
    color: #fff;
}

.btn-info {
    background-color: #4ec2f0;
    border-color: #6cc1e2;
    color: #fff;
}

.btn-warning {
    background-color: #ffbd5a;
    border-color: #f6c06f;
    color: #fff;
}

.btn-danger {
    background-color: #f34343;
    border-color: #f35959;
    color: #fff!important;
}

.btn-light {
    background-color: #f9f9fb;
    border-color: #e9e9ff82;
    color: #323251;
}

.text-uppercase {
    text-transform: uppercase;
}

@media screen and (max-width: 290px) {
    body.smbitClass-mobile {
        .page-content {
            .content {
                .container {
                    .bank {
                        display: inline-flex;
                        align-items: center;
                        img:first-child {
                            width: 10px !important;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100vh;
        margin: auto auto;
    }
}
