body.smbitClass-mobile {
    // Untuk header atas
    .page-content {
        .smartb1 #smart_banner {
            display: none;
        }

        &.apk-download {
            .smartb1 {
                height: 135px !important;
                .smartb2 {
                    top: 65px !important;
                }
                .smartb3 {
                    top: 80px;
                }

                #smart_banner {
                    position: fixed; width: 100%;
                    padding: 10px;
                    font-family: Verdana, arial, sans-serif;
                    color: #ffee27;
                    background: linear-gradient(to right, #1b1b1b 0%, #383636 50%, #272626 100%);
                    height: inherit;
                    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1) 0s;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    max-height: 63px;

                    #close_button {
                        color:#fff;
                        text-align: center;
                        font-size: 18px;
                        line-height: 60px;
                        cursor: pointer;
                    }

                    .header-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        .banner-info {
                            display: flex;
                            align-items: center;
                            .app_icon {
                                width: 43px;
                                margin-left: 10px;
                                img {
                                    max-width: 100%;
                                }
                            }

                            .app_info {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .app_title {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: #ffee27;
                                }

                                .app_slogan {
                                    font-size: 11px;
                                    color: #FFF;
                                    letter-spacing: 0px;
                                }
                            }
                        }

                        .download_button {
                            margin-left: 10px;
                            a {
                                font-size: 12px;
                                padding: 8px 8px;
                                border: 1px solid;
                                color: #ffee27;
                                background: linear-gradient(to bottom, #383636 50%, #272626 50%);
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            .smartb4 {
                margin-top: 65px !important;
            }

        }

        .content {
            .container {
                .owl-carousel {
                    img {
                        padding-top: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }

                .bank {
                    padding-left: 5px !important;
                }
            }

            .icon-sosmed {
                .deskripsi {
                    margin-top: 5px;
                    text-align: center;
                    margin-bottom: 18px;
                    color: white;
                    text-shadow: 0px 0px 10px #777777, 0px 0px 20px #777777; font-size: 15px;
                }

                .icon {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                }
            }

            .promosi {
                img {
                    height: 100%;
                    width: 100%;
                    padding-top: 10px;
                }
            }

            .beforeFooter {
                .tittle {
                    font-size: xx-large;
                    padding-top: 20px;
                    color: #ffcc00;
                    text-align: center;
                }

                .deskripsi {
                    font-size: 100%;
                    color: #d7d7d7;
                    border-image-width: 100px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    border-bottom-style: groove;
                    text-transform: uppercase;
                }
            }
        }

    }

    #smb-mobile-popup {
        position: absolute;
        top: 0;
        z-index: 9999;

        .modal-mobile {
            background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: table;

            .modal-container-mobile {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 200px;
            }

            .body {
                display: inline-block;
                padding: 10px;

                .popup-img {
                    width: 100%;
                    height: auto;
                }
            }
            .modal-header {
                border-bottom: none;

                .btn-close {
                    font-weight: bold;
                    font-size: 25px;
                    opacity: 1;
                    color: #fff;
                    --webkit-appearance: none;
                    padding: 0;
                    cursor: pointer;
                    background: 0 0;
                    border: 0;
                }
            }
            .deskripsi {
                color: white;
                background-color: rgb(188, 156, 8);
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

body.modal-open {
    .modal {
        .modal-dialog {
            .modal-content {
                background: transparent;
                box-shadow: none;
                border: none;

                .modal-header {
                    border: none;
                    .close {
                        opacity: 1;
                        font-size: 25px;
                        color: #fff;
                    }
                }

                .modal-body {
                    .deskripsi {
                        color: white;
                        background-color: rgb(188, 156, 8);
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }
    }

    .modal-backdrop {
        opacity: .9;
    }
}

body.smbitClass-desktop {
    background-image: url('/situs/assets/zia_togel/desktop/images/ziatogel_background_default.jpg');
    background-attachment: fixed;

    .section {
        .container {
            .blog-posts {
                .promosi {
                    img {
                        height: 100%;
                        width: 100%;
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .linkalte-container {
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 9999;
        max-width: 216px;
        display: block;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        transition: height .10s;

        .linkalte-btn {
            height: 43px;
        }

        .linkalte-body {
            background: #fff;
            list-style-type: none;
            padding: 0;
            display: none;
            -webkit-transition: height 0.5s;
            transition: height 0.10s;

            li{
                width: 100%;
                &:not(:last-child) {
                    border-bottom: 1px solid #adadad;
                }
            }
            .linkalte-item {
                display: flex;
                padding: 8px;
                color: #777777;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    background: #837f77;
                    color: #fff;
                }
            }
        }

        &:hover {
            .linkalte-body{
                display: block;
            }
        }

    }

    .bankscroll {
        .owl-wrapper {
            .owl-item {
                .bank {
                    text-align: center;
                    width: 154px !important;
                    height: 64px !important;
                    padding: 0px !important;
                    background-color: rgba(0,0,0,0) !important;
                    border: none !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                    border-radius: 0px !important;
                    margin-left: 0px;

                    img {
                        width: 154px;
                        height: 64px;
                    }

                    .bca {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bca/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bca/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bca/trouble.gif');
                            }
                        }
                    }

                    .bni {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bni/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bni/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bni/trouble.gif');
                            }
                        }
                    }
                    .bri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bri/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bri/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bri/trouble.gif');
                            }
                        }
                    }
                    .bsi {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bsi/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bsi/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/bsi/trouble.gif');
                            }
                        }
                    }
                    .cimb,
                    .cimb-2 {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/cimb/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/cimb/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/cimb/trouble.gif');
                            }
                        }
                    }
                    .dana {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/dana/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/dana/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/dana/trouble.gif');
                            }
                        }
                    }
                    .danamon {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/danamon/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/danamon/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/danamon/trouble.gif');
                            }
                        }
                    }
                    .gopay {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/gopay/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/gopay/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/gopay/trouble.gif');
                            }
                        }
                    }
                    .linkaja {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/linkaja/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/linkaja/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/linkaja/trouble.gif');
                            }
                        }
                    }
                    .mandiri {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/mandiri/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/mandiri/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/mandiri/trouble.gif');
                            }
                        }
                    }
                    .maybank {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/maybank/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/maybank/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/maybank/trouble.gif');
                            }
                        }
                    }
                    .ovo {
                        display: none;
                        &.online {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/ovo/online.gif');
                            }
                        }
                        &.offline {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/ovo/offline.gif');
                            }
                        }
                        &.trouble {
                            &+img {
                                content: url('/situs/assets/zia_togel/desktop/images/bank/ovo/trouble.gif');
                            }
                        }
                    }
                }
            }
        }
    }

    // list image gameicon
    $listImage: 'ziatogel_singapore.jpg', 'ziatogel_hongkong.jpg', 'ziatogel_sydney.jpg', 'ziatogel_nevada.jpg', 'ziatogel_cambodia.jpg', 'ziatogel_bullseye.jpg', 'ziatogel_carolinaday.jpg', 'ziatogel_totomacau.jpg', 'ziatogel_china.jpg', 'ziatogel_california.jpg', 'ziatogel_florida.jpg', 'ziatogel_newyork.jpg', 'ziatogel_oregon.jpg', 'ziatogel_taiwan.jpg', 'ziatogel_sicboball.jpg', 'ziatogel_sicbodice.jpg', 'ziatogel_12d.jpg', 'ziatogel_dice6.jpg', 'ziatogel_24d.jpg', 'ziatogel_roullete.jpg', 'ziatogel_baccarat.jpg', 'ziatogel_pokerdice.jpg', 'ziatogel_suwit.jpg', 'ziatogel_dragontiger.jpg', 'ziatogel_oglok.jpg', 'ziatogel_idn4stand.jpg', 'ziatogel_roullete2.jpg', 'ziatogel_headandtail.jpg', 'ziatogel_monopoly.jpg', 'ziatogel_5dball.jpg', 'ziatogel_gongball.jpg', 'ziatogel_billiard.jpg', 'ziatogel_3dshio.jpg', 'ziatogel_raceball.jpg', 'ziatogel_fantan.jpg', 'ziatogel_niuniu.jpg', 'ziatogel_pgsoft.png', 'ziatogel_pragmaticplay.png', 'ziatogel_idnslot.png', 'ziatogel_microgaming.png', 'ziatogel_toptrend.png', 'ziatogel_habanero.png', 'ziatogel_comingsoon.jpg', 'ziatogel_comingsoon.jpg';

    .gameicon {
        .owl-item {
            @each $img in $listImage {
                $i: index($listImage, $img);
                &:nth-child(#{$i}) {
                    .item {
                        img {
                            content: url('/situs/assets/zia_togel/desktop/images/icongames/'+#{$img});
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 415px) {
    body.smbitClass-mobile {
        .page-content {
            .content {
                .container {
                    .bank {
                        display: inline-flex;
                        align-items: center;
                        img:first-child {
                            width: 10px !important;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
